*{
	font-family: 'Museo Sans Cyrl', sans-serif;
}

@import 'base/null';
@import 'base/variables';
@import 'base/mixins';


.container{
	position: relative;
	max-width: 950px;
	margin: 0 auto;
	padding: 0 5px;
}
@import 'blocks/promo';
@import 'blocks/header';
@import 'blocks/buttons';
@import 'blocks/advantages';
@import 'blocks/consultation';
@import 'blocks/titles';
@import 'blocks/forms';
@import 'blocks/carousel';
@import 'blocks/catalog';
@import 'blocks/reviews';
@import 'blocks/footer';
@import 'blocks/modal';