@media (max-width: 991px) {
	.promo{
		padding: 0 5px;
		.header{
			&__official{
				transform: translate(0,-2px);
				span{
					font-size: 14px;
				}
			}
		}
	}

	.advantages{
		&__item{
			width: 31%;
		}
		&__wrapper{
			br{
				display: none;
			}
		}
	}

	.consultations{
		padding-left: 5px;
	}

	.carousel{
		padding: 110px 0 52px 0;
		&__inner{
			width: 100vmin;
			text-align: center;
			.slick-dots {
				margin: 10px auto;
				display: flex;
				justify-content: space-around;
				align-items: center;
				width: 150px;
				height: 20px;
				li {
					width: 20px;
					height: 20px;
					color: #dadadac0;
					background-color: #fff;
					border-radius: 100%;
					border: solid 2px;
					font-size: 0;
					&:hover{
						color: $main-color;
					}
				}
			}
			img{
				width: 100vmin;
			}
		}
		li.slick-active{
			color: black;
			border: solid 4px;
		}
	}

	.catalog{
		&__content{
			justify-content: center;
		}
		.catalog-item{
			margin-left: 10px;
			margin-right: 10px;
		}
	}

	.reviews{
		&__wrapper{
			width: 100%;
			.reviews-item{
				width: 100%;
				margin-left: 0;
				padding-left: 210px;
				padding-right: 10px;
				&__photo{
					left: 15px;
				}
			}
		}
	}

	.footer{
		&__info{
			width: 300px;
			height: 180px;
			padding: 10px 18px 10px 18px;
		}
		&__adress{
			margin-bottom: 20px;
			font-size: 16px;
		}
		&__phone{
			font-size: 18px;
			margin-bottom: 28px;
		}
	}
}

@media (max-width: 667px) {
	.promo{
		padding: 0 5px;
		.header{
			&__logo{
				width: 190px;
			}
		}
	}

	.advantages{
		&__text{
			font-size: 13px;
		}
	}

	.carousel{
		&__inner{
			.slick-dots {
				li {
					&:hover{
						color: #dadadac0;
					}
				}
			}
		}
		li.slick-active{
			color: black;
			border: solid 4px;
		}
	}

	.catalog{
		&__tab{
			width: 30%;
			max-width: 200px;
			&:hover{
				box-shadow: none;
				border: 2px solid #d0d0d0;
			}
			&_active{
				border: none;
			}
		}
		&__content{
			margin-top: 40px;
		}
	}
}

@media (max-width: 575px) {
	.promo{
		padding: 0 5px;
		.header{
			padding-top: 10px;
			&__logo{
				width: 160px;
				img{
					margin-top: -15px;
				}
			}
			&__official{
				position: absolute;
				top: 60px;
				line-height: 15px;				
				font-size: 11px;
				text-align: start;
				span{
					font-size: 14px;
				}
			}
			&__phone{
				font-size: 14px;
			}
			.button{
				width: 130px;
			}
		}
		&__wrapper{
			align-items: center;
		}
		&__icons{
			margin: 0 auto;
			margin-top: 58px;
			width: 250px;
		}
		&__icon{
			font-size: 12px;
			img{
				width: 80%;
			}
			span{
				line-height: 14px;
				width: 90px;
				&:last-child{
					br{
						display: none;
					}
				}
			}
		}
		.button{
			&_main{
				width: 280px;
			}
		}
	}

	.advantages{
		padding: 40px 15px;
		&__title{
			padding-top: 10px;
			font-size: 26px;
		}
		&__item{
			width: 300px;
			padding: 0 5px;
		}
		&__wrapper{
			flex-direction: column;
			justify-content: center;
			align-items: center;
			br{
				display: none;
			}
		}
	}

	.consultations{
		padding-left: 15px;
		padding-right: 15px;
		.title_left{
			font-size: 30px;
		}
		&__descr{
			margin-top: 60px;
			font-size: 18px;
			padding-right: 10px;
			br{
				display: none;
			}
		}
		.feed-form{
			margin-top: 30px;
			width: 100%;
			max-width: 300px;
			input{
				width: 100%;
			}
		}
	}

	.carousel{
		padding: 60px 0 52px 0;
		&__inner{
			width: calc(100vw - 20px);
			.slick-dots {
				li {
					&:hover{
						color: #dadadac0;
					}
				}
			}
			img{
				width: calc(100vw - 20px);
			}
		}
		li.slick-active{
			color: black;
			border: solid 4px;
		}
	}

	.catalog{
		.title{
			font-size: 26px;
		}
		&__tabs{
			flex-direction: column;
			margin-top: 30px;
		}
		&__tab{
			width: 200px;
			border: 2px solid #d0d0d0;
			margin: 5px 0;
			&:hover{
				box-shadow: none;
				border: 2px solid #d0d0d0;
			}
			&_active{
				border: none;
			}
		}
		&__content{
			margin-top: 40px;
		}
	}

	.reviews{
		.title{
			font-size: 26px;
		}
		&__wrapper{
			.reviews-item{
				margin-left: 0;
				margin-top: 50px;
				padding-left: 10px;
				padding-right: 10px;
				text-align: center;
				&__photo{
					left: 50%;
					top: -200px;
					transform: translateX(-50%);
				}
				&__name{
					font-size: 18px;
					margin-top: 250px;
				}
			}
		}
	}

	.footer{
		&__info{
			width: 260px;
			height: 160px;
			padding: 10px 12px;
		}
		&__adress{
			margin-bottom: 16px;
			font-size: 14px;
		}
		&__phone{
			font-size: 18px;
			margin-bottom: 24px;
		}
	}

	.overlay{
		.modal{
			width: 100%;
			max-width: 380px;
			min-height: 400px;
			padding: 25px 15px 15px 15px;
			&__close{
				top: 20px;
				right: 15px;
				font-size: 35px;
			}
			&__subtitle{
				padding-left: 10px;
				padding-right: 30px;
			}
		}
	}

	.feed-form{
		margin-top: 25px;
		width: 100%;
		max-width: 380px;
		input{
			width: 100%;
			max-width: 380px;
			margin-bottom: 10px;
		}
	}
}