.promo{
	min-height: 650px;
	padding: 0 auto;
	background: url(../img/bg_header.png) center (center/cover) no-repeat;
	&__wrapper{
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		margin-top: 100px;
	}
	&__header{
		font-size: 42px;
		font-weight: 700;
		text-transform: uppercase;
		color: #ffffff;
		line-height: 42px;
	}
	&__subheader{
		margin-top: 10px;
		line-height: 24px;
		font-size: 24px;
		font-weight: 500;
		text-transform: uppercase;
		color: #ffffff;
	}
	&__icons{
		margin-top: 58px;
		width: 364px;
		height: 96px;
		display: flex;
		justify-content: space-between;
		margin-right: 48px;
	}
	&__icon{
		width: 45px;
		text-align: center;
		font-size: 14px;
		font-weight: 500;
		color: #ffffff;
		img{
			display: block;
			margin: 0 auto;
			margin-bottom: 16px;
		}
		span{
			display: block;
			transform: translateX(-30%);
			line-height: 17px;
			width: 110px;
		}
		&:last-child{
			margin-top: 4px;
		}
	}
	&__link{
		font-size: 16px;
		font-weight: 500;
		color: #ffffff;
		margin-top: 18px;
		a{
			color: #ffffff;
			text-decoration: underline;
			text-transform: uppercase;
		}
	}
}